<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.storemanager_api.repository.MenuRepository">

    <insert id="saveMenu"
            parameterType="com.project.storemanager_api.domain.menu.dto.request.SaveMenuRequestDto"
            useGeneratedKeys="true"
            keyProperty="menuId">
        INSERT INTO menus
            (store_id, ui_id, menu_name, price, category_id)
        VALUES
            (#{storeId}, #{uiId}, #{menuName}, #{price}, #{categoryId})
    </insert>

    <select id="findListByCategoryId" resultType="com.project.storemanager_api.domain.menu.dto.response.MenuResponseDto">
        SELECT
            menu_id,
            category_id,
            menu_name,
            ui_id,
            discount_rate,
            price,
            created_at
        FROM menus
        WHERE category_id = #{categoryId}
    </select>

    <select id="findById" resultType="com.project.storemanager_api.domain.menu.dto.response.MenuResponseDto">
        SELECT
            menu_id,
            category_id,
            menu_name,
            ui_id,
            discount_rate,
            price,
            created_at
        FROM menus
        WHERE menu_id = #{menuId}
    </select>

</mapper>