<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.storemanager_api.repository.PaymentRepository">

    <insert id="savePayment" parameterType="com.project.storemanager_api.domain.pay.dto.request.CreatePayRequestDto"
            useGeneratedKeys="true"
            keyProperty="paymentId">
        INSERT INTO payments
            (order_id, place_id, payment_amount, discount_amount)
        VALUES
            (#{orderId}, #{placeId}, #{totalAmount}, #{discountAmount})
    </insert>
</mapper>