<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.storemanager_api.repository.PaymentRepository">

    <insert id="savePayment">
        INSERT INTO payments
        (order_id, payment_type, payment_amount, discount_amount)
        VALUES
        (#{orderId}, #{paymentType}, #{paymentAmount}, #{discountAmount})
    </insert>
</mapper>