<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.storemanager_api.repository.StoreRepository">

    <insert id="saveStore">
        INSERT INTO stores
            (user_id, store_name, store_place, password)
        VALUES
            (#{userId}, #{storeName}, #{storePlace}, #{password})
    </insert>


    <select id="findStoreList" resultType="com.project.storemanager_api.domain.store.dto.response.StoreResponseDto">
        SELECT
            S.store_id,
            S.store_name,
            S.store_place,
            S.password,
            S.created_at
        FROM stores S
        WHERE user_id = #{userId}
    </select>

    <select id="findPasswordById" resultType="java.lang.String">
        SELECT
            password
        FROM stores
        WHERE store_id = #{storeId}
    </select>

    <select id="findStoreDetailByStoreId" resultType="com.project.storemanager_api.domain.store.dto.response.StoreDetailResponseDto">
        SELECT
            S.store_id,
            S.store_name,
            S.store_place,
            S.created_at
        FROM stores S
        WHERE store_id = #{storeId}
    </select>

</mapper>