<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.storemanager_api.repository.StoreOperateTimeRepository">


    <!-- 새로운 매장 오픈 시 row 추가 -->
    <insert id="insertOpenStore">
        INSERT INTO store_operate_time (store_id, opened_at, date)
        SELECT #{storeId}, NOW(), CURRENT_TIMESTAMP()
        FROM dual
        WHERE NOT EXISTS (
        SELECT 1 FROM store_operate_time WHERE store_id = #{storeId} AND DATE(date) = CURRENT_DATE()
        )
    </insert>

    <!-- 매장이 닫힐 때, 오늘 날짜의 closed_at을 업데이트 -->
    <update id="closeStore">
        UPDATE store_operate_time
        SET closed_at = NOW()
        WHERE store_id = #{storeId}
        AND DATE(date) = CURRENT_DATE()
    </update>

    <select id="getOpenTimeByStoreId" resultType="java.time.LocalDateTime">
        SELECT
            opened_at
        FROM store_operate_time
        WHERE store_id = #{storeId}
        ORDER BY opened_at DESC
        LIMIT 1
    </select>

</mapper>