<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.storemanager_api.repository.UiRepository">

    <insert id="saveUi"
            parameterType="com.project.storemanager_api.domain.ui.entity.UiLayout"
            keyProperty="uiId"
            useGeneratedKeys="true">
        INSERT INTO ui_layout
        (store_id)
        VALUES
        (#{storeId})
    </insert>

    <select id="findById" resultType="com.project.storemanager_api.domain.ui.entity.UiLayout">
        SELECT
            *
        FROM ui_layout
        WHERE ui_id = #{uiId}
    </select>

    <update id="updateUi">
        UPDATE ui_layout
        SET
            color_code = #{colorCode},
            size_type = #{sizeType},
            position_x = #{positionX},
            position_y = #{positionY}
        WHERE ui_id = #{uiId}
    </update>

</mapper>